
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function click() {
            alert("1");
            $.ajax({
                url: "/Parallel/executeClick_Sync",
                success: function (data) {
                    //events = data;
                },
                async: false
            });
        }
        
        $(function () {
            $("#submitButton1").click(function () {
                debugger;
                $.ajax({
                    url: "/Parallel/executeClick_Sync",
                    success: function (data) {
                        //events = data;
                    },
                    async: false
                });
            });
            $("#submitButton2").click(function () {
                debugger;
                $.post("/Parallel/executeClick_Sync", function () {
                });
            });
        })
    </script>
</head>
<body>
    <h2>@ViewData["timer1"]</h2>
    <h2>@ViewData["timer2"]</h2>
    <h2>@ViewData["timer3"]</h2>
    <h2>@ViewData["timer4"]</h2>
</body>

</html>






